.floatClouds {
    translate: 200% 0;
}

.pushLeftCloud {
    translate: 25% 0;
}

.bounceGolem {
    translate: 0 40px;
}

#golemSpriteContainer {
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.pushRightCloud {
    translate: -25% 0;
}

.smallText {
    scale: 0.5 0.5;
}

.largeText {
    scale: 1.5 1.5;
}
