.startStar2 {
    translate: -90% 60%;
    rotate: -15deg;
}

.startStar3 {
    translate: -62% 100%;
    rotate: -25deg;
}

.fadeIn {
    opacity: 0;
}

.startStar1 {
    translate: -150% 80%;
    rotate: -55deg;
}
